@font-face {
    font-family: "ArialRoundedMTBold";
    src: url("https://lokrogaming.github.io/fonts/arial-rounded-mt-bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Bitcount Prop Double Light";
    src: url("https://lokrogaming.gothub.io/fonts/BitcountPropDouble-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Varela Round";
    src: url("https://lokrogaming.github.io/fonts/VarelaRound-Regular.ttf") format("truetype");
  }
  :root {
      --bg: rgb(77, 77, 77);
      --accent: rgb(31, 19, 83);
      --bordercolor: transparent;
      --font-color: rgba(0, 0, 255, 1);
      --separator-color: white;

      --btn-lg-unhovered-blue: rgba(0, 0, 255, 0.3);
      --btn-lg-hovered-blue: rgba(0, 0, 255, 1);
      --btn-lg-unhovered-red: rgba(255, 0, 0, 0.3);
      --btn-lg-hovered-red: rgb(255, 0, 0);
      --btn-lg-unhovered-green: rgba(0, 255, 0, 0.3);
      --btn-lg-hovered-green: rgb(0, 255, 0);
      --btn-lg-unhovered-black: rgba(0, 0, 0, 0.3);
      --btn-lg-hovered-black: rgb(0, 0, 0);
      --btn-lg-unhovered-purple: rgba(98, 0, 255, 0.3);
      --btn-lg-hovered-purple: rgb(98, 0, 255);
      --btn-lg-unhovered-pink: rgba(247, 0, 255, 0.3);
      --btn-lg-hovered-pink: rgb(247, 0, 255);

      --btn-lg-unhovered-disabled: rgba(90, 90, 90, 0.3);
      --btn-lg-hovered-disabled: rgba(90, 90, 90, 1);

      

      --color: white;
  }
  html {
          scroll-behavior: smooth;
  }
  body {
    font-size: 15px;
    font-family: "ArialRoundedMTBold";
    text-align: center;
    background-color: var(--bg);
    color: var(--color)
    }
    #wrap{
    width: 750px;
    margin: 0 auto;
    text-align: left;
    }
    #bg-blur {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(10px);
        background: rgba(0,0,0,0.2);
        z-index: -1;
    }
    .separator {
        border-bottom: 1px solid var(--separator-color);
        width: 100%;
    }
    
    .separator.solid {
        border-bottom: 1px solid var(--separator-color);
    }
    
    .separator.dotted {
        border-bottom: 1px dotted var(--separator-color);
    }
    
    button, a {
        text-decoration: none;
        cursor: pointer;
    }
    #header{
    float: left;
    width: 760px;
    height: 145px;
    text-align: right;
    border: solid 2px var(--bordercolor);
    border-radius: 13px;
    display: flex;
    padding-top: 14px;
    flex-direction: column;
    align-items: center;
    }
    
    #navigation{
    float: left;
    width: 760px;
    height:40px;
    border: solid 2px var(--bordercolor);
    border-radius: 13px;
    display: flex;
    padding-top: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    
    #content{
    float: left;
    width: 559px;
    height:400px;
    border: solid 2px var(--bordercolor);
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding-top: 14px;
    flex-direction: column;
    }
    
    #sidebar{
    float: right;
    width: 180px;
    height:400px;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    border: solid 2px var(--bordercolor);
    border-radius: 13px;
    transition: ease-in-out 0.5s;
    gap: 10px;
    }
    #sidebar.active {
        display: flex;
        opacity: 1;
        transition: ease-in-out 0.5s;
    }
        
    h1, h2, h3, h4, h5, h6 {
    margin: 20px;
    color: var(--color)
    }
    p{
    margin: 15px 20px;
    color: var(--color)
    }
    


    /* === BGS === */
    .bg-darkcosmic {
        background: #000000;
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(9, 9, 121, 1) 36%, rgba(0, 0, 0, 1) 100%);
        color: white;
    }
    .bg-bloodmoon {
        background: #ff0000;
        background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%);
        color: white
    }

    /* CONTENT ELEMENTS */

    /*=== BIG BUTTON ===*/
    .btn.big {
     width: 300px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     border:none;
     border-radius: 10px;
     transition: all 0.3s;
     
    }
    .btn.big:hover {
       transform: translateY(-5px);
    }
    

    /* === DISABLED BTN BIG === */
    .btn.big:disabled {
        background-color: var(--btn-lg-unhovered-disabled);
        color: white;
    }

    
    /*=== MD BUTTON ===*/
    .btn.md {
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none;
        border-radius: 10px;
        transition: all 0.3s;
        
       }
       .btn.md:hover {
          transform: translateY(-5px);
       }
       
   
       /* === DISABLED BTN BIG === */
       .btn.md:disabled {
           background-color: var(--btn-lg-unhovered-disabled);
           color: white;
       }
    /* === COLORS ===*/
    .color-blue {
        background-color: var(--btn-lg-unhovered-blue);
    }   
    .color-blue:hover {
        background-color: var(--btn-lg-hovered-blue);
    }
    .color-red {
        background-color: var(--btn-lg-unhovered-red);
    }   
    .color-red:hover {
        background-color: var(--btn-lg-hovered-red);
    }
    .color-green {
        background-color: var(--btn-lg-unhovered-green);
    }   
    .color-green:hover {
        background-color: var(--btn-lg-hovered-green);
    }
    .color-black {
        background-color: var(--btn-lg-unhovered-black);
        color: white;
    }   
    .color-black:hover {
        background-color: var(--btn-lg-hovered-black);
        color: rgba(90, 90, 90, 1)
    }
    .color-purple {
        background-color: var(--btn-lg-unhovered-purple);
    }   
    .color-purple:hover {
        background-color: var(--btn-lg-hovered-purple);
    }
    .color-pink {
        background-color: var(--btn-lg-unhovered-pink);
    }   
    .color-pink:hover {
        background-color: var(--btn-lg-hovered-pink);
    }



    .typebox {
        font-family: monospace;
    background: transparent;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;

    }

    .typewriter {
        font-size: 1.5rem;
        border-right: 2px solid #0f0;
        white-space: nowrap;
        overflow: hidden;
      }